{%  extends 'TruelabKottiFrontendBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    {% block navigation %}{% endblock %}

    {% block main_section %}
        <div id="container" class="container">
            {% block breadcrumbs %}
                <ol class="breadcrumb">
                {% for breadcrumb in kotti_breadcrumbs() %}
                    <li><a href="{{ kotti_path(breadcrumb) }}">{{ breadcrumb.title }}</a></li>
                {% endfor %}
                    <li class="active">{{ context.title }}</li>
                </ol>
            {% endblock %}

            {% block aside %}
            <aside class="col-sm-3">
                {% include 'TruelabKottiFrontendBundle:Block:nav_tree.html.twig' %}
            </aside>
            {% endblock %}

            {% block content_area  %}
                <section id="content" class="col-sm-9">{% block content %}{% endblock %}</section>
            {% endblock %}

        </div>
    {% endblock %}

    {% block footer_area %}
        {% spaceless %}
        <footer>{% block footer %}{% endblock %}</footer>
        {% endspaceless %}
    {%  endblock %}
{% endblock %}

{% block javascripts %}{% endblock %}
