{% extends layout %}

{% block content %}
    <h1>{{ context.title }}</h1>

    {% spaceless %}
        {% if context.mimeType is defined
            and context.mimeType == 'text/html'
            and context.body %}
        <article>{{ context.body | raw }}</article>
        {% endif %}
    {% endspaceless %}

{% endblock %}
