{% extends layout %}

{% block content %}
    <h1>{{ context.title }}</h1>

    <article>
        {% if context.mimeType is defined and context.mimeType == 'text/html' %}
            {{ context.body | raw }}
        {% endif %}
    </article>
{% endblock %}
