<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header"></div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% include 'TruelabKottiFrontendBundle:Block:main_navigation_link.html.twig' with { 'links' : links } only %}
            </ul>
        </div>
    </div>
</nav>
