<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header"></div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% include 'TruelabKottiFrontendBundle:Block:main_navigation_link.html.twig' with { 'links' : links } only %}
            </ul>

            {% if language is defined %}
                <ul class="nav navbar-nav navbar-right">
                {% for locale in language.availableLocales %}
                    {% set path = language.translationsMap[locale] is defined ? language.translationsMap[locale].path : '/'~locale~'/' %}

                    <li class="{{ context.language == locale ? 'active' : '' }}">
                        <a href="{{ path }}">
                            {{ locale }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}

        </div>
    </div>
</nav>
