{% for link in links %}
    <li>
        <a href="{{ kotti_path(link) }}">{{ link.title }}</a>
        {% if link.hasInNavigationChildren %}
            <ul>

                {% include 'TruelabKottiFrontendBundle:Block:nav_children_link.html.twig'
                    with { 'links': link.getInNavigationChildren }
                %}
            </ul>
        {% endif %}
    </li>
{% endfor %}

