{% for link in links %}
    <li>
        <a href="{{ asset(link.path) }}">{{ link.title }}</a>
        {% if link.hasChildren %}
            <ul>

                {% include '@TruelabKottiFrontendBundle/Resources/views/Block/navigation_link.html.twig'
                    with { 'links': link.children }
                %}
            </ul>
        {% endif %}
    </li>
{% endfor %}

