{% extends layout %}

{% block links %}
    {% for link in links %}
        <li>
            <a href="{{ link.path }}">{{ link.title }}</a>
            {% if link.hasChildren %}
                <ul>
                    {% include template with { 'links': link.children } %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endblock %}
